<div class="helplinks--about flex justify-center">
  <div class="container flex flex-col md:flex-row items-center justify-center border-t border-grey-lighter mt-8 py-16">
    <div class="helplinks__column w-full md:w-1/3">
      <a href="" class="helplink helplink--location text-center flex flex-col items-center justify-center no-underline text-grey-darkest text-2xl font-semibold">
        <span class="icon flex justify-center block w-12 h-12 mb-4 text-white rounded-full" >{% include 'icon-phone_2' %}</span>
        <span class="mb-12 md:mb-0 md:text-lg lg:text-2xl">{{ section.settings.location }}</span>
      </a>
    </div>
    <div class="helplinks__column w-full md:w-1/3">
      <span href="" class="helplink helplink--share text-center flex flex-col items-center justify-center no-underline text-grey-darkest text-2xl font-semibold">
        <span class="icon flex justify-center block w-12 h-12 mb-4 text-white rounded-full" >{% include 'social-list' %}</span>
        <span class="mb-12 md:mb-0 md:text-lg lg:text-2xl">{{ section.settings.share }}</span>
      </span>
    </div>
    <div class="helplinks__column w-full md:w-1/3">
      <a href="" class="helplink helplink--support text-center flex flex-col items-center justify-center no-underline text-grey-darkest text-2xl font-semibold">
        <span class="icon flex justify-center block w-12 h-12 mb-4 text-white rounded-full" >{% include 'icon-portal' %}</span>
        <span class="md:text-lg lg:text-2xl" >{{ section.settings.support }}</span>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Help Links",
  "class": "helplinks-section",
  "settings": [
    {
      "type": "text",
      "id": "location",
      "label": "Location Heading",
      "default": "Find Your Nearest Store"
    },
    {
      "type": "text",
      "id": "share",
      "label": "Share Heading",
      "default": "Follow Share Enjoy"
    },
    {
      "type": "text",
      "id": "support",
      "label": "Support Heading",
      "default": "Genesis Support Portal"
    }
  ]
}
{% endschema %}