.page--about {
	.pxs-image-with-text-content-wrapper {
		@media screen and ( min-width: 768px  ) {
			padding-top: 120px;
			padding-bottom: 120px;
		}
		
	}

	.pxs-image-with-text-content {
		@media screen and ( max-width: 767px ) {
			flex-direction: column !important;

			.col1, .col2 {
				padding: 0;
				width: 100% !important;
			}

			h2.pxs-image-with-text-heading {
				// text-align: center;
				margin-top: 30px;
				font-size: 35px !important;
				width: 100%;
			}
		}
	}
}

.achievements-section {
	background-color: #f7f7f7;
	padding: 95px 0;

	@media screen and ( max-width: 767px ) {
		padding: 50px 0;
	}

	.achievements__heading {
		font-size: 50px;

		@media screen and ( max-width: 767px ) {
			font-size: 35px;
		}
	}
	.achievements__subtext {
		font-size: 20px;

		@media screen and ( max-width: 767px ) {
			font-size: 18px;
		}
	}
}

.facts-section {
	background-color: $red;
	color: #fff;

	.container {
		padding: 95px 0;

		@media screen and ( max-width: 767px ) {
			padding: 50px 0;
		}
	}
	
	.facts__heading {
		font-size: 50px;

		@media screen and ( max-width: 767px ) {
			font-size: 35px;
		}
	}
	.facts__subtext {
		font-size: 20px;

		@media screen and ( max-width: 767px ) {
			font-size: 18px;
		}
	}
}

.helplinks--about {
	.helplink--location {
		svg {
			fill: $red;
			width: 40px;

			.st0 {
				fill: inherit;

			}
		}
	}
	.helplink--share {
		.icon {
			
			svg {
				background-color: $red;
				fill: #fff;
				height: 48px;
				padding: 4px;
				width: 48px;

				.st0 {
					fill: inherit;
				}
			}

			.social-link {
				color: #fff;
				height: 48px;
				padding: 0;
				margin: 0 4px;
				width: 48px;
			}
		}

		.social-icons {
			display: flex;
		}
		
		
	}
	.helplink--support {
		.icon {
			background-color: $red;
		}
		
		svg {
			fill: #fff;
			width: 40%;

			.st0 {
				fill: inherit;
			}
		}
	}
}
	