.site-header-container {
    display: flex;
    max-width: 1400px;
    padding: 0 25px;
    position: relative;
    width: 100%;
}
.site-header {
	@media screen and (min-width: 1024px) {
		justify-content: center;
		max-width: none;
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
}
.site-navigation-wrapper {
	background-color: $red;
}

.site-navigation {
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 3px;

	.navmenu-depth-1 > li > a {
		color: #fff;
		font-weight: 600;
	}
}

.site-header-actions {
	a {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
	}
}

.site-header-search-form {
    max-width: 600px;
    margin: 0 auto;
}

.small-promo-text-desktop {
	align-items: center;
	color: $grey-dark;
	display: flex;
	font-size: 1rem;
	font-weight: 600;

	svg {
		fill: $grey;
		margin-right: 10px;
		width: 21px;
	}
}

.chat-button {
	align-items: center;
	color: $grey-dark;
	display: flex;
	font-size: 1rem;
	margin-right: 30px;
	font-weight: 600;

	svg {
		fill: $grey;
		margin-right: 10px;
		width: 21px;
	}
}
	

